# fly.toml app configuration file generated for jordancolehunt-com on 2025-11-03T14:20:43+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jordancolehunt-com'
primary_region = 'jnb'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  max_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
