extends layout

block content
  section.about
    .container
      h1.section-title About Me

      .about-content
        .about-text
          p
            | Hello! I'm Jordan, a software engineer passionate about creating
            | elegant solutions to complex problems. My journey in software development
            | has given me experience across the full stack.

          p
            | I enjoy staying current with emerging technologies and best practices,
            | always looking for ways to improve my craft and deliver better results.

          p
            | When I'm not coding, I enjoy exploring new technologies, surfing, gaming 
            | or sharing knowledge with the developer community.
